h1 {
    text-align: center;
}

.panel-memoria {
    width: var(--tamanoMemoria);
    margin-left: auto; // Empuja el panel hacia la derecha

    h2 {
        text-align: left;
    }
}

.contenedor-principal {
    display: flex;
    justify-content: center; //  centra horizontalmente
    align-items: flex-start; //alineamos al inicio del contenedor para que no se centre verticalmente
    padding: 2rem; 
}