@use "variables" as *;

.memoria {
    background-color: #b3b3b3; 
    padding: 0.5rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column; //apila las particiones verticalmente
    gap: 0.5rem; 
    width: var(--tamanoMemoria); 
    min-height: 30rem;
    position: relative; // Usamos position relative para que los elementos hijos puedan posicionarse respecto a este contenedor

    .particion {
        background-color: aqua;
        border: 2px solid blue;
        width: 100%;
        position: relative; // Para que el ::after no salga volando
        display: flex; 
        align-items: center;     //reglas para centrar el texto
        justify-content: center;

        // Cuadrito lateral
        &::after { // Pseudo-elemento para mostrar el tamaño en MB
            position: absolute;
            left: 100%;           // Para colocar justo al terminar la partición
            margin-left: 0.5rem;  // Separación mínima
            width: 3rem;        
            height: 100%; 
            background: white;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem; 
            color: black;
        }
        // Generamos las clases para cada tamaño de partición
        @each $nombre, $valor in $tamanos {
            &.#{$nombre} {
                height: #{$valor * 3}rem;
                &::after {
                    content: "#{$valor}MB";
                }
            }
        }
    }

    .ocupada { // Clase para las particiones ocupadas por procesos
        .tam-interno {
            position: absolute;
            right: 0.3rem;
            top: 0.2rem;
            font-size: 0.75rem;
        }

        .nombre-proceso { // Nombre del proceso dentro de la partición
            font-weight: 700;
        }
    }
}