@use "variables" as *;

.procesos {
	width: var(--tamanoMemoria);
	padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
	margin-bottom: 1rem; // Espacio entre la memoria y los procesos.
}

.proceso {
	background-color: aqua;
	border: 2px solid blue;
	width: 100%;
	border-radius: 5px;
	position: relative;
	margin-bottom: 0.2rem; // Espacio entre procesos.
	padding: 0.2rem; // Para que el texto no quede pegado al borde.

	&::after {
		position: absolute;
		right: 0.2rem;
		top: 0.2rem;
	}
}

// Reaprovechamos el bucle each para generar las clases tam1..tam5 de proceso sin repetir codigo.
@each $nombre, $valor in $tamanos {
	.proceso.#{$nombre} {
		height: #{$valor * 3}rem;
	}

	.proceso.#{$nombre}::after {
		content: "#{$valor}MB";
	}
}
